[Desktop Entry]
Type=Application
Name=Material Designer (@@NAMESPACE@@)
GenericName=Material Designer
Comment=Material Designer packaged build (@@NAMESPACE@@)
Exec=env -u ELECTRON_RUN_AS_NODE OD_PACKAGED_NAMESPACE=@@NAMESPACE@@ @@EXEC_PATH@@ --appimage-extract-and-run %U
Icon=@@ICON_PATH@@
Categories=Development;Utility;
StartupWMClass=Material Designer
StartupNotify=true
Terminal=false
MimeType=x-scheme-handler/od;
